body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: #fff;
}

.top-bar {
    background-color: #4A0000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
.icons i {
 padding-right: 20px;
}
.top-bar span {
    margin: 0 15px;
   
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 180px;
    height: 50px;
    margin-right: 10px;
}

.logo h1 {
    margin: 0;
    color: #4A0000;
    font-size: 24px;
}

.logo p {
    margin: 0;
    color: #999;
    font-size: 12px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.appointment {
    text-align: right;
}

.appointment-button {
    display: inline-block;
    padding: 10px 20px;
    color: #4A0000;
    border: 1px solid #4A0000;
    text-decoration: none;
    margin-right: 15px;
}

.call-us {
    font-size: 16px;
    color: #4A0000;
}

.appointment-button:hover {
    background-color: #dd0d0d;
    color: #fff;
}

.appointment-button:focus,
.nav-links a:focus {
    outline: none;
    border: none;
}

.hero {
    background: url(../assets/images/Lawyer.jpg) no-repeat center center/cover;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    text-align: left;
    z-index: 1;
}

.hero h2 {
    font-size: 48px;
    margin: 0;
}

.hero p {
    font-size: 18px;
    margin: 20px 0;
}

.practice-button {
    background-color: #B80000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    margin-top: 10px;
}

.practice-button:hover {
    background-color: #990000;
}
.container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    align-items: center;
}


.image-container {
    justify-content: center;
    background-color: #ddd;
    margin-left: 100px;
}

.image-container img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.content-container {
    flex: 1;
    padding: 20px;
    padding-left: 50px;
}

h1 {
    font-family: "Baskervville", serif;
    display: block;
    font-weight: 400;
    line-height: 2.0;
    margin-bottom: 30px;
    color: #a00000;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.container p {
        font-size: 24px;
        font-weight: 400;
        color: #2D0000;
        line-height: 1.4;   
}
.quotes {
    font-style: italic;
    margin-bottom: 20px;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.description {
    margin-bottom: 20px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
}
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    flex: 1;
    justify-content: center;
}
.card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: center;
}
.card img {
    width: 50px;
    height: 50px;
}
.card h3 {
    margin: 10px 0;
}
.card p {
    color: #666;
}
.quote-form {
    background-color: #a00;
    color: white;
    padding: 20px;
   border-top-right-radius: 30%;
    max-width: 400px;
    margin-left: 40px;
    flex: 5;
    height: 80vh;
    margin-top: 90px;
    justify-content: center;
}
.quote-form h2 {
    margin-top: 30;
}
.quote-form input, .quote-form select, .quote-form textarea {
    width: 95%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
}
.quote-form button {
    background-color: orange;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
}
.quote-form button:hover {
    background-color: darkorange;
}

/* why choose us */
.containers {
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 24px;
    color: #a00000;
    margin-bottom: 20px;
}

.quote {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
    font-style: italic;
}

.description {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
    line-height: 1.5;
}

.learn-more {
    background-color: #a00000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.learn-more:hover {
    background-color: #8b0000;
}